.photo-card{
  margin: 10px;
  max-width: 35%;
  p {
    margin-bottom: 5px;
  }
}

.photos-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.value{
  font-weight: 500;
}
.example-spacer {
  flex: 1 1 auto;
}
